# Image files created when the program runs
bit.png
ascii.png

#For OSX
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Broken temperary / saving files created on some operating systems / programs
*~
